<!DOCTYPE html>
<html>
<head>
    <title>Snap-ATAC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
        .button {
            background-color: #3f51b5;
            width: 300px
        }

        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }

    </style>
</head>
<body>

<nav>
    <div class="nav-wrapper" style="background-color:#3f51b5;">
        <a class="brand-logo center">Snap-ATAC</a>
    </div>
</nav>
<br>

<div style="margin: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <div class="row">
        <div class="col s1a2">
            <button class="waves-effect waves-light btn-large button" id="custom"
                    onclick=customSteps()>Main Menu
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s1a2">
            <button class="waves-effect waves-light btn-large button" id="&lt; PreviousData"
                    onclick=viewData()>View Previous Data
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s1a2">
            <button class="waves-effect waves-light btn-large button" id="&lt; PreviousData"
                    onclick=help()>Help
            </button>
        </div>
    </div>
</div>
</body>

<script>
    function viewData() {
        window.location.href = './resultTableWindow.html';
    }

    function customSteps() {
        window.location.href = './customSteps.html';
    }

    function help() {
        window.location.href = './help.html';
    }
</script>
</html>