<!DOCTYPE html>
<html>
<head>
    <title>Snap-ATAC</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
        .button {
            background-color: #3f51b5;
            width: 300px
        }

        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }

    </style>
</head>
<body>

<nav>
    <div class="nav-wrapper" style="background-color:#3f51b5;">
        <a class="brand-logo center">Snap-ATAC</a>
    </div>
</nav>
<br>

<div style="margin: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <div class="row">
        <div class="col sa12">
            <button class="waves-effect waves-light btn-large button" id="newProcess"
                    onclick=createNewProcess()>New Process
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s1a2">
            <button class="waves-effect waves-light btn-large button" id="&lt; PreviousData"
                    onclick=viewData()>View Previous Data
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s1a2">
            <button class="waves-effect waves-light btn-large button" id="custom"
                    onclick=customSteps()>Custom Steps
            </button>
        </div>
    </div>
    <div class="row">
        <div class="col s1a2">
            <button class="waves-effect waves-light btn-large button" id="barcode"
                    onclick=barcode()>Try Barcode Selection
            </button>
        </div>
    </div>
    <!--    <form>-->
    <!--        <div>-->
    <!--            <label>Enter Item</label>-->
    <!--            <input type="text" id="item" autofocus>-->
    <!--        </div>-->
    <!--        <button class="waves-effect waves-light btn" type="submit">Run R</button>-->
    <!--    </form>-->
</div>
</body>

<script>
    function createNewProcess() {
        window.location.href = './processView.html';
    }

    function viewData() {
        window.location.href = './resultTableWindow.html';
    }

    function customSteps() {
        window.location.href = './customSteps.html';
    }

    function barcode() {
        window.location.href = './steps/barcodeSelection.html';
    }

    const electron = require('electron');
    const {ipcRenderer} = electron;
    document.querySelector('form').addEventListener('submit', submitForm);

    function submitForm(e) {
        e.preventDefault();
        const item = document.querySelector('#item').value;
        ipcRenderer.send('r:step1', item);
    }

</script>
</html>