<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
        
        table {
            display: table;
            vertical-align: middle;
            border-collapse: collapse;
            width: 105%;

        }

        td, th {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #e8eaf6;
        }
        .center-plase {
            margin: 2% 5%;
        }

        .centered-text {
            text-align: center;
            vertical-align: middle;
            color: #e8eaf6;
        }
        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }
     
    </style>
</head>
<body onload=updateResults()>
    <nav>
        <div class="nav-wrapper" style="background-color:#3f51b5;">
            <ul class="left">
                <li onclick=mainWindow()><a class="waves-effect waves-light btn"> &lt; Back </a></li>
            </ul>
            <a class="brand-logo center">Previous Results</a>
        </div>
    </nav>
    <br>
    <div class="datasets">
        <div class = "center-plase">
        <table id="insertRuns">
            <tr>
                <th>Dataset</th>
                <th>Step</th>
                <th>Timestamp</th>
                <th>Action</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
</body>

<script>
    
    function mainWindow() {
        window.location.href = './mainWindow.html';
    }

    function updateResults(){

        const fs = require('fs');

        const { BrowserWindow } = require('electron').remote;
        const PDFWindow = require('electron-pdf-window');

        var directory = './output';
        var table = document.getElementById("insertRuns");
        var process_names = document.getElementsByClassName("process-name");

        function display(row, dataset, step, time, format) {

            let view_btn = document.createElement('button')
            let view_text = document.createTextNode("View"); 
            let view_action = row.insertCell(3);
            view_btn.appendChild(view_text); 
            view_btn.className = "btn btn-light";

            let remove_btn = document.createElement('button')
            let remove_text = document.createTextNode("Delete"); 
            let remove_action = row.insertCell(4);
            remove_btn.appendChild(remove_text); 
            remove_btn.className = "btn btn-light";
            
            view_btn.addEventListener("click", function(){ 

                const output_path = __dirname + "/../output";            
                var filename = "/" + dataset + "."+ step + "." + time + "." + format;

                if (format == "pdf") {
                    const loadPlot_pdf = new BrowserWindow({
                        useContentSize: true
                    });

                    PDFWindow.addSupport(loadPlot_pdf);

                    loadPlot_pdf.loadURL(output_path+filename);
                } 
                else {
                    const loadPlot = new BrowserWindow({
                        useContentSize: true
                    });
                    loadPlot.loadFile(output_path+filename);
                }
            });

            remove_btn.addEventListener("click", function(){

            });

            view_action.appendChild(view_btn);
            remove_action.appendChild(remove_btn);
        }

        var results = []; 

        fs.readdir(directory, (err, files) => {
            if(err) {
            // handle error; e.g., folder didn't exist
            }
            // 'files': array of the files found in the directory
        
            files.forEach(function (file) {
                const filename_str = file.split(".");

                results.push({
                    dataset: filename_str[0],
                    step: filename_str[1],
                    time: filename_str[2],
                    format: filename_str[3],
                });

            });
            // results sorted by dataset names in alphabetical and numerical order
            results.sort((a, b) => (a.dataset > b.dataset) ? 1 : (a.dataset === b.dataset) ? ((a.time < b.time) ? 1 : -1) : -1 );

            // This part of the code remove duplicates and empty names in collected filenames
            // Not needed at this point
            // var dups = []
            // var filtered_names = file_names.filter(function (element) {
            //     // remove duplicates and empty names
            //     if ((dups.indexOf(element) == -1) && (element != "")) {
            //         dups.push(element);
            //         return true;
            //     }
            //     return false;
            // });

            for(i = results.length-1;i >= 1; i--){
                let newRow = table.insertRow(1);

                let dataset = newRow.insertCell(0);
                let dataset_name = document.createTextNode(results[i].dataset);
                dataset.appendChild(dataset_name);

                let step = newRow.insertCell(1);
                let step_name = document.createTextNode(results[i].step);
                step.appendChild(step_name);

                let time = newRow.insertCell(2);
                let time_stamp = document.createTextNode(results[i].time);
                time.appendChild(time_stamp);

                display(newRow, results[i].dataset, results[i].step, results[i].time, results[i].format);

            }
        });

    }

</script>

</html>
