<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <style>
        
        table {
            display: table;
            border-collapse: collapse;
            width: 105%;
        }

        td, th {
            text-align: left;
            padding: 8px;
        }

        tr:nth-child(even) {
            background-color: #e8eaf6;
        }
        .center-plase {
            margin: 0 5%;
        }

        .centered-text {
            text-align: center;
            vertical-align: middle;
            color: #e8eaf6;
        }
        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }
     
    </style>
</head>
<body onload=updateResults()>
    <nav>
        <div class="nav-wrapper" style="background-color:#3f51b5;">
            <ul class="left">
                <li onclick=mainWindow()><a class="waves-effect waves-light btn"> &lt; Back </a></li>
            </ul>
            <a class="brand-logo center">Previous Results</a>
        </div>
    </nav>
    <br>
    <div style="margin: 10px auto; width: 90%; font-size: 12px; padding-left: 5px;">
        <label>Below are all the graphical results saved from previous runs. As an user, you have the option
            to view or delete any previous plot by clicking on either one of the buttons under "Action". 
            "Delete" action will remove the file from the filesystem and is not recoverable.</label>   
    </div>
    <div class="datasets">
        <div class = "center-plase">
        <table id="insertRuns">
            <tr>
                <th>Dataset</th>
                <th>Description of result</th>
                <th>Timestamp</th>
                <th>Action</th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        </table>
</body>

<script>
    
    function mainWindow() {
        window.location.href = './mainWindow.html';
    }

    function updateResults(){

        const fs = require('fs');    
        const { BrowserWindow, dialog } = require('electron').remote;
        const PDFWindow = require('electron-pdf-window');

        var directory = './output';
        var table = document.getElementById("insertRuns");
        var process_names = document.getElementsByClassName("process-name");

        function display(row, dataset, step, time, format) {

            let view_btn = document.createElement('button')
            let view_text = document.createTextNode("View"); 
            let view_action = row.insertCell(3);
            view_btn.appendChild(view_text); 
            view_btn.className = "btn btn-light";

            let remove_btn = document.createElement('button')
            let remove_text = document.createTextNode("Delete"); 
            let remove_action = row.insertCell(4);
            remove_btn.appendChild(remove_text); 
            remove_btn.className = "btn btn-light";

            const output_path = __dirname + "/../output";            
            var filename = "/" + time + "_"+ dataset + "_" + step + "." + format;
            
            view_btn.addEventListener("click", function(){ 

                if (format == "pdf") {
                    const loadPlot_pdf = new BrowserWindow({
                        useContentSize: true
                    });

                    PDFWindow.addSupport(loadPlot_pdf);

                    loadPlot_pdf.loadURL(output_path+filename);
                } 
                else {
                    const loadPlot = new BrowserWindow({
                        useContentSize: true
                    });
                    loadPlot.loadFile(output_path+filename);
                }
            });

            remove_btn.addEventListener("click", function(){

            var full_path = output_path+filename;
            
            if (fs.existsSync(full_path)) {
                fs.unlink(full_path, (err) => {
                    if (err) {
                        alert("An error ocurred updating the file" + err.message);
                        console.log(err);
                        return;
                    }
                    alert("File succesfully deleted");
                    // remove row from table
                    table.deleteRow(row.rowIndex);
                });
            } else {
                alert("This file doesn't exist, cannot delete");
            }

            });

            view_action.appendChild(view_btn);
            remove_action.appendChild(remove_btn);
        }

        var results = []; 

        fs.readdir(directory, (err, files) => {
            if(err) {
            // handle error; e.g., folder didn't exist
            }
            // 'files': array of the files found in the directory
        
            files.forEach(function (file) {
                const filename = file.split(".");
                const file_format = filename[1];
                const file_info = filename[0];
                const file_info_str = file_info.split("_");

                if (file_info_str[1] != undefined) {
                    results.push({
                        dataset: file_info_str[1],
                        step: file_info_str[2],
                        time: file_info_str[0],
                        format: file_format,
                    });
                }

            });
            // results sorted by dataset names in alphabetical and numerical order
            results.sort((a, b) => (a.dataset > b.dataset) ? 1 : (a.dataset === b.dataset) ? ((a.step > b.step) ? 1 : ((a.step === b.step) ? ((a.time < b.time) ? 1 : -1) : -1)) : -1 );

            // This part of the code remove duplicates and empty names in collected filenamess
            // Not needed at this point
            // var dups = []
            // var filtered_names = file_names.filter(function (element) {s
            //     // remove duplicates and empty names
            //     if ((dups.indexOf(element) == -1) && (element != "")) {
            //         dups.push(element);
            //         return true;
            //     }
            //     return false;
            // });

            for(i = results.length-1;i >= 0; i--){

                let formatted_time = results[i].time.split("-");
                let month = formatted_time[1];
                let date = formatted_time[2];
                let year = formatted_time[3];
                let hr = formatted_time[4];
                let min = formatted_time[5];

                let newRow = table.insertRow(1);

                let dataset = newRow.insertCell(0);
                let dataset_name = document.createTextNode(results[i].dataset);
                dataset.appendChild(dataset_name);

                var full_step_name = results[i].step;
                
                switch(results[i].step) {
                    case "barcodeSelection":
                        full_step_name = "Quality Control";
                        break;
                    case "histogram":
                        full_step_name = "Bin Coverage Distribution";
                        break;
                    case "plotDimReductPW":
                        full_step_name = "Dimension Scatter";
                        break;
                    case "plotViz":
                        full_step_name = "Visualization";
                        break;
                    case "plotFeatureSingle":
                        full_step_name = "Feature Single";
                        break;
                    case "identifySingleDAR":
                        full_step_name = "Single DAR";
                        break;
                    case "identifyAllDARs":
                        full_step_name = "All DARS";
                        break;
                    case "hereticalClustering":
                        full_step_name = "Heretical clustering";
                        break;
                }
                let step = newRow.insertCell(1);
                let step_name = document.createTextNode(full_step_name);
                step.appendChild(step_name);

                let time = newRow.insertCell(2);
                let time_text = month+" "+date+", "+year+"  "+hr+":"+min;
                let time_stamp = document.createTextNode(time_text);
                time.appendChild(time_stamp);

                display(newRow, results[i].dataset, results[i].step, results[i].time, results[i].format);

            }
        });

    }

</script>

</html>
