<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../loader.css">
    <style>
        .button {
            background-color: #3f51b5;
            width: 300px
        }

        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }

    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper" style="background-color:#3f51b5;">
        <ul class="left">
            <li onclick="window.history.back()"><a class="waves-effect waves-light btn">&lt; Previous</a></li>
        </ul>
        <a class="brand-logo center">Identify DARs</a>
        <ul class="right">
            <li onclick="window.location.href = './motifAnalysis.html'"><a class="waves-effect waves-light btn">Next &gt;</a></li>
        </ul>
    </div>
</nav>

<div style="margin-top: 20px; position: absolute; align-content: center; left: 50%; top: 100%; transform: translate(-50%, -50%); overflow: scroll;">
    <h5>Identify Single Differential Accesible Region</h5>
    <form id="single">
        <div>
            <label>Enter Name for the output figure</label>
            <input type="text" id="singleName" autofocus>
        </div>
        <div>
            <label>Choose your (.rds) snap object below:</label>
            <br>
            <input id="singleFile" type="file"/>
        </div>
        <div>
            <label>Select your input material:</label>
            <select style="display: inline-block" id="singleInputMat">
                    <option value="pmat">pmat</option>
                    <option value="bmat">bmat</option>
            </select>
        </div>
        <div>
            <label>Select your cluster number:</label>
            <input type="text" id="clusterNum">
        </div>
        <div>
            <label>Select your bcv value:</label>
            <select style="display: inline-block" id="singleBCV">
                <option value="0.1">mouse: 0.1</option>
                <option value="0.4">human: 0.4</option>
            </select>
            </div>
        <br>
        <br>
        <button class="waves-effect waves-light btn" type="submit">Run</button>
    </form>
    <br>
    <br>

    <h5>Identify All Differential Accesible Region</h5>
    <form id="all">
        <div>
            <label>Enter Name for the output figure</label>
            <input type="text" id="allName" autofocus>
        </div>
        <div>
            <label>Choose your (.rds) snap object below:</label>
            <br>
            <input id="allFile" type="file"/>
        </div>
        <div>
            <label>Select your input material:</label>
            <select style="display: inline-block" id="allInputMat">
                    <option value="pmat">pmat</option>
                    <option value="bmat">bmat</option>
            </select>
        </div>
        <div>
            <label>Select your bcv value:</label>
            <select style="display: inline-block" id="allBcv">
                <option value="0.1">mouse: 0.1</option>
                <option value="0.4">human: 0.4</option>
            </select>
            </div>
        <br>
        <br>
        <button class="waves-effect waves-light btn" type="submit">Run</button>
    </form>
    <br>
    <button class="waves-effect waves-light btn" onclick=customSteps()>Back to Main Menu</button>
</div>

<div class="cssload-wrap">
    <div class="cssload-container">
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
    </div>
</div>

</body>

<script>

    const electron = require('electron');
    const {ipcRenderer} = electron;
    document.querySelector('#single').addEventListener('submit', singleDAR);
    document.querySelector('#all').addEventListener('submit', allDARs);

    async function singleDAR(e) {
        e.preventDefault();
        const snap = document.querySelector('#singleFile').value;
        const name = document.querySelector('#singleName').value;
        const inputMat = document.querySelector('#singleInputMat').value;
        const clusterNum = parseInt(document.querySelector('#clusterNum').value);
        const bcv = parseFloat(document.querySelector('#singleBCV').value);

        loading();
        ipcRenderer.send('identifySingleDAR', name, snap.replace(/^.*[\\\/]/, ''), clusterNum, inputMat, bcv);
        ipcRenderer.on('identifySingleDAR:reply', (e) => {
            unLoading();
        })
    }

    async function allDARs(e) {
        e.preventDefault();
        const snap = document.querySelector('#allFile').value;
        const name = document.querySelector('#allName').value;
        const inputMat = document.querySelector('#allInputMat').value;
        const bcv = parseFloat(document.querySelector('#allBcv').value);

        loading();
        ipcRenderer.send('identifyAllDARs', name, snap.replace(/^.*[\\\/]/, ''), inputMat, bcv);
        ipcRenderer.on('identifyAllDARs:reply', (e) => {
            unLoading();
        })
    }


    function loading() {
        document.querySelector('.cssload-wrap').style.display = 'block';
    }

    function unLoading() {
        document.querySelector('.cssload-wrap').style.display = 'none';
    }

    function customSteps() {
        window.location.href = '../customSteps.html';
    }
</script>
</html>