<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../loader.css">
    <style>
        .button {
            background-color: #3f51b5;
            width: 300px
        }

        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }

    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper" style="background-color:#3f51b5;">
        <ul class="left">
            <li onclick="window.history.back()"><a class="waves-effect waves-light btn">&lt; Previous</a></li>
        </ul>
        <a class="brand-logo center">Motif Analysis</a>
        <ul class="right">
            <li onclick="window.location.href = './greatAnalysis.html'"><a class="waves-effect waves-light btn">Next &gt;</a></li>
        </ul>
    </div>
</nav>

<div style="margin-top: 20px; position: absolute; align-content: center; left: 50%; top: 80%; transform: translate(-50%, -50%);">
        <h5>Motif Analysis: Homer</h5>
        <form id="homer">
            <div>
                <label>Choose your (.rds) snap object below:</label>
                <br>
                <input id="homerSnap" type="file"/>
            </div>
            <div>
                <label>Select your input material:</label>
                <select style="display: inline-block" id="homerInputMat">
                        <option value="pmat">pmat</option>
                        <option value="bmat">bmat</option>
                </select>
            </div>
            <div>
                <label>Select your bcv value:</label>
                <select style="display: inline-block" id="homerBcv">
                    <option value="0.1">mouse: 0.1</option>
                    <option value="0.4">human: 0.4</option>
                </select>
            </div>
            <div>
                    <label>Find findMotifsGenome.pl file:</label>
                    <input id="pathToHomer" type="file"/>
            </div>
            <br>
            <br>
            <button class="waves-effect waves-light btn" type="submit">Run R</button>
        </form>
        <br>
        <br>
    
        <h5>Motif Analysis: ChromVAR</h5>
        <form id="chromvar">
            <div>
                <label>Choose your (.rds) snap object below:</label>
                <br>
                <input id="chromVarSnap" type="file"/>
            </div>
            <div>
                <label>Select your input material:</label>
                <select style="display: inline-block" id="chromVarInputMat">
                        <option value="pmat">pmat</option>
                        <option value="bmat">bmat</option>
                </select>
            </div>
            <div>
                <label>Enter Motif 1:</label>
                <input type="text" id="motif1">
            </div>
            <div>
                <label>Enter Motif 2:</label>
                <input type="text" id="motif2">
            </div>
            <br>
            <br>
            <button class="waves-effect waves-light btn" type="submit">Run</button>
        </form>
        <br>
    <button class="waves-effect waves-light btn" onclick=customSteps()>Back to Main Menu</button>
    </div>

<div class="cssload-wrap">
    <div class="cssload-container">
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
    </div>
</div>

</body>

<script>

    const electron = require('electron');
    const {ipcRenderer} = electron;
    document.querySelector('#homer').addEventListener('submit', runHomer);
    document.querySelector('#chromvar').addEventListener('submit', runChromVar);

    async function runHomer(e) {
        e.preventDefault();
        const snap = document.querySelector('#homerSnap').value;
        const inputMat = document.querySelector('#homerInputMat').value;
        const bcv = document.querySelector('#homerBcv').value;
        const pathToHomer = document.getElementById("pathToHomer").files[0].path;

        loading();
        ipcRenderer.send('motifAnalysisHomer', snap.replace(/^.*[\\\/]/, ''), inputMat, bcv, pathToHomer);
        ipcRenderer.on('motifAnalysisHomer:reply', (e) => {
            unLoading();
        })
    }

    async function runChromVar(e) {
        e.preventDefault();
        const snap = document.querySelector('#chormVarSnap').value;
        const inputMat = document.querySelector('#chromVarInputMat').value;
        const motif1 = document.querySelector('#motif1').value;
        const motif2 = document.querySelector('#motif2').value;
        loading();
        ipcRenderer.send('motifAnalysisChromVAR', snap.replace(/^.*[\\\/]/, ''), inputMat, motif1, motif2);
        ipcRenderer.on('motifAnalysisChromVAR:reply', (e) => {
            unLoading();
        })
    }


    function loading() {
        document.querySelector('.cssload-wrap').style.display = 'block';
    }

    function unLoading() {
        document.querySelector('.cssload-wrap').style.display = 'none';
    }

    function customSteps() {
        window.location.href = '../customSteps.html';
    }
</script>
</html>