<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="../../loader.css">
    <style>
        .button {
            background-color: #3f51b5;
            width: 300px
        }

        .button:hover {
            background-color: #283593;
        }

        .button:active {
            background-color: #3f51b5;
        }

        .button:focus {
            background-color: #3f51b5;
        }

    </style>
</head>
<body>
<nav>
    <div class="nav-wrapper" style="background-color:#3f51b5;">
        <ul class="left">
            <li onclick="window.history.back()"><a class="waves-effect waves-light btn">&lt; Previous</a></li>
        </ul>
        <a class="brand-logo center">FastQ > Snap</a>
        <ul class="right">
            <li onclick="window.location.href = './primary.html'"><a class="waves-effect waves-light btn">Next &gt;</a></li>
        </ul>
    </div>
</nav>

<div style="margin: auto; position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%);">
    <form>
        <br>
        <br>
        <div>
            <label>Please use two fastq files to generate a snap file. Note the snap file will be generated in the /data folder. Check Index Reference Genome only if your mm10 has not been indexed yet. Please ensure you have followed the steps from the README before running this step.</label>
        </div>
        <br>
        <div>
            <label>Enter Name For Snap (.snap)</label>
            <label for="item"></label><input type="text" id="item" autofocus>
        </div>
        <div>
            <label>
                Upload your first fastq (.fastq.gz) file:
            </label>
            <br>
            <input id="item2" type="file"/>
        </div>
        <br>
        <div>
            <label>
                Upload your second fastq (.fastq.gz) file:
            </label>
            <br>
            <input id="item3" type="file"/>
        </div>
        <br>
        <div>
            <input class="my-checkbox" type="checkbox" id="item4">
            <label for="item4">Index Reference Genome (Optional)</label>
        </div>
        <br>
        <button class="waves-effect waves-light btn" type="submit">Generate Snap File</button>
    </form>
    <br>
    <button class="waves-effect waves-light btn" onclick=customSteps()>Back to Main Menu</button>
</div>

<div class="cssload-wrap">
    <div class="cssload-container">
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
        <span class="cssload-dots"></span>
    </div>
    <div id ="myDiv"></div>
</div>

</body>

<script>

    const electron = require('electron');
    const {ipcRenderer} = electron;
    document.querySelector('form').addEventListener('submit', submitForm);
    console.log(document.querySelector('.cssload-wrap'));

    async function submitForm(e) {
        console.log("hi")
        e.preventDefault();
        const snap = document.getElementById("item").files[0].path;
        const fastq1 = document.getElementById("item2").files[0].path;
        const fastq2 = document.getElementById("item3").files[0].path;
        const indexgenome = document.querySelector('.my-checkbox').checked;
        loading();
        ipcRenderer.send('snaptools', fastq1, fastq2, snap, indexgenome);
        ipcRenderer.on('console:log', (e, arg) => {
            document.getElementById("myDiv").innerText = arg;
        })
        ipcRenderer.on('snaptools:reply', (e) => {
            unLoading();
        })
    }


    function loading() {
        document.querySelector('.cssload-wrap').style.display = 'block';
    }

    function unLoading() {
        document.querySelector('.cssload-wrap').style.display = 'none';
    }
    function customSteps() {
        window.location.href = '../customSteps.html';
    }
</script>
</html>